<!--
--------
WARNING:
--------

THIS CODE IS ONLY MADE AVAILABLE FOR DEMONSTRATION PURPOSES AND IS NOT SECURE! DO NOT USE IN PRODUCTION!

FOR SECURITY REASONS, USING A JAVASCRIPT WEB APP HOSTED VIA THE CORDA NODE IS NOT THE RECOMMENDED WAY TO INTERFACE
WITH CORDA NODES! HOWEVER, FOR THIS PRE-ALPHA RELEASE IT'S A USEFUL WAY TO EXPERIMENT WITH THE PLATFORM AS IT ALLOWS
YOU TO QUICKLY BUILD A UI FOR DEMONSTRATION PURPOSES.

GOING FORWARD WE RECOMMEND IMPLEMENTING A STANDALONE WEB SERVER THAT AUTHORISES VIA THE NODE'S RPC INTERFACE. IN THE
COMING WEEKS WE'LL WRITE A TUTORIAL ON HOW BEST TO DO THIS.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example CorDapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/angular-module.js"></script>
</head>
<body ng-app="demoAppModule" ng-controller="DemoAppController as demoApp">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{demoApp.thisNode}}</a>
        </div>
        <button ng-click="demoApp.openModal()" type="button" class="btn btn-primary navbar-btn">Create Rate Submission</button>
        <button ng-click="demoApp.getPOs()" type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-refresh"></span></button>
    </div>
</nav>
<script type="text/ng-template" id="demoAppModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Add new rate submission</h4>
    </div>
    <form>
        <div class="modal-body">

            <div class="form-group">
                <label for="rate" class="control-label">Rate (decimal):</label>
                <input type="text" ng-model="modalInstance.form.rate" class="form-control" id="rate">
            </div>
            <div class="form-group">
                <label for="volume" class="control-label">volume (int):</label>
                <input type="text" ng-model="modalInstance.form.volume" class="form-control" id="volume">
            </div>

        </div>
        <div class="modal-footer">
            <button ng-click="modalInstance.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="modalInstance.send()" type="button" class="btn btn-primary">Send Rate</button>
        </div>
    </form>
    </div>
</script>
<script type="text/ng-template" id="messageContent.html">
    <div class="modal-body" id="modal-body">
        {{ modalInstanceTwo.message }}
    </div>
</script>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div ng-show="!demoApp.pos.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">There are no recorded rate submissions</h3>
            </div>
            <div class="panel-body">Use the "Create Rate Submission" button to establish a purchase order with a peer.</div>
        </div>
        <div ng-show="demoApp.pos.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Recorded purchase orders:</h3>
            </div>
        </div>
        <div ng-repeat="po in demoApp.pos" class="panel panel-default">
            <div class="panel-body">
                <ul>
                    <li>Purchase Order ID: {{po.purchaseOrder.orderNumber}}</li>
                    <li>Contract Hash: {{po.contract.legalContractReference}}</li>
                    <li>Buyer: {{po.buyer}}</li>
                    <li>Seller: {{po.seller}}</li>
                    <li>Delivery City: {{po.purchaseOrder.deliveryAddress.city}}</li>
                    <li>Delivery Address: {{po.purchaseOrder.deliveryAddress.country}}</li>
                    <li>Items:</li>
                    <ul>
                        <li ng-repeat="item in po.purchaseOrder.items">{{item.name}} ({{item.amount}})</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

</body>
</html>
